@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

:root {
  --text-size1: 100px;
  --mainRed: rgb(155, 22, 22);
  --SecRed: rgba(110, 9, 9, 0.452);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  color: white;
}

body {
  background-color: black;
}

/* Navegação */
.navbar {
  position: fixed;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  background-color: var(--mainRed);
}

.navbar i {
  margin: auto 3%;
  font-size: 2pc;
}

.navbarButtonsContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto 30px;
}

.navbarButtonsContainer h1 {
  color: white;
  font-size: 40pt;
}

.buttonContainer {
  margin: 0 5px;
  display: flex;
  gap: 20px;
}

.buttonContainer button {
  display: flex;
  padding-bottom: 10px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: 0;
  position: relative;
}

.buttonContainer button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: white;
  bottom: 0;
  transition: all 1s;
}

.buttonContainer button:hover::after {
  width: 100%;
}

/* Carrinho de compras */

.cart {
  height: 100px;
  width: fit-content;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Cartcircle {
  text-align: center;
  background-color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 3;
}

.Cartcircle p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  padding: 2px;
}

/* Main  */

main {
  width: 100%;
  height: 1000px;
  background-image: url(./images/cinema.webp);
  background-size: cover;
}

.Mainbackground {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 0.4864320728291317) 100%
  );
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}

.Mainbackground h1 {
  color: white;
  text-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 10vw;
}

/* Catalog */

.catalog {
  margin: 200px auto;
  width: 100%;
  min-height: 1200px;
  height: max-content;
  padding: 50px;
}

.catalog h1 {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  margin: 10% auto;
}

.catalogCont {
  margin: auto;
  width: 90%;
  padding: 10px;
  height: fit-content;
}

.movieCont {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.movieCard {
  width: 320px;
  height: 500px;
  min-height: fit-content;
  background-color: azure;
  transition: transform 1s;
  position: relative;
}

.movieCard:hover {
  transform: scale(1.1);
  z-index: 3;
}

.movieCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieCard:hover .MovieCardButtons {
  height: 50px;
  outline: var(--mainRed) solid 1px;
}

.movieCard:hover .MovieInfo {
  visibility: visible;
  background-color: var(--mainRed);
}

.MovieInfo {
  visibility: hidden;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  padding: 10px;
  color: white;
  transition: background-color 0.1s;
}

.MovieInfo h2 {
  color: black;
}

.MovieCardButtons {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  backdrop-filter: blur(9px);
  border-radius: 0px 0px 9px 9px;
  top: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  transition: height 1s;
  margin: auto;
}

.MovieCardButtons i {
  display: none;
  font-size: 30px;
}

.movieCard:hover i {
  display: flex;
  cursor: pointer;
}

.MovieCardButtons i:active {
  transform: scale(1.1);
}

#ComingSoon {
  background-color: var(--SecRed);
}

.AddtoCart {
  animation: AddedtoCart 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes AddedtoCart {
  from {
    transform: scale(1.2);
    background-color: transparent;
  }

  to {
    transform: scale(1);
  }
}

footer {
  background-color: var(--mainRed);
  width: 100%;
  height: 300px;
}

@media (max-width: 1000px) {
  .movieCont {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .buttonContainer {
    gap: 5px;
    font-size: 10px;
  }
}
